
body{
    background-color:khaki;
 }
 .board{
    margin:20px;
    text-align:left;
    background-color:
 }
 
 h1{
    color:blue;
    font-family:monospace;
    text-align:left;
    font-size:20px; 
 }
 q {
   background-color:white;
   padding:5px;
   margin-right:45%;
   margin-left:0px;
 }